
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 20px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*
  1. fixed menu
  2. nav
*/

/*** fixed menu ***/
.fixed-menu {
  color: hsl(120, 23%, 25%);
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  position: fixed;
  top: 200px;
  left: 40px;
  z-index: 1;
}
.fixed-menu .group {
  display: flex;
  margin-bottom: 20px;
  cursor: pointer;
}
.fixed-menu .text{
  margin-left: 20px;
}
.fixed-menu .text a,
.fixed-menu .text a:visited {
  color: #325032;
  text-decoration: none;
}
.fixed-menu .icon {
  width: 14px; height: 14px;
  border: 2px solid #325032;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
.fixed-menu .icon a,
.fixed-menu .icon a:visited {
  color: #325032;
  text-decoration: none;
}


/*** nav ***/
nav {
  height: 700px;
  background: url('../image/nav.jpg');
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*background-attachment: fixed;*/
  color: #2f4f4f;
}
.menu {
  padding-top: 30px;
  display: flex;
  justify-content: center;
}
.menu div a, .menu div a:visited {
  font-size: 0.9em;
  letter-spacing: -1px;
  padding-right: 20px;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -ms-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
  text-decoration: none;
  color: #2f4f4f;
}
.menu div a:hover {
  cursor: pointer;
  color: #648264;
}
.nav-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav-title {
  font-size: 4em;
  margin-top: 230px;
  margin-bottom: 100px;
}
.nav-information {
  font-size: 0.8em;
  letter-spacing: 5px;
  margin-bottom: 100px;
  text-shadow: 0 0 1px rgb(0,0,0);
}
/* invitation */
.nav-detail .invitation-btn a,
.nav-detail .invitation-btn a:visited {
  border: 3.5px solid #2f4f4f;
  padding: 20px 40px;
  letter-spacing: 2px;
  font-size: 1.2em;
  text-decoration: none;
  color: #2f4f4f;
}
.nav-detail .invitation-btn a:hover {
  cursor: pointer;
  background-color: rgba(50, 70, 50, 0.5);
}

/*** nav mobile-menu */
.mobile-menu {
  display: none;
  width: 100%;
  height: 50px;
  background-color: rgba(180, 200, 180, 0.8);
}
.mobile-menu .lines {
  position: absolute;
  top: 13px; right: 20px;
  cursor: pointer;
}
.mobile-menu .lines .line {
  margin-bottom: 8px;
  width: 30px; height: 2px;
  background-color: #2f4f4f;
}
.mobile-menu-clicked {
  display: none;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%; height: 100%;
  position: fixed;
  top: 0; left: 0;
  background-color: rgba(200, 250, 200, 0.9);
  padding-top: 100px;
  z-index: 1;
}
.mobile-menu-clicked a,
.mobile-menu-clicked a:visited {
  display: block;
  margin-bottom: 40px;
  margin-left: 100px;
  color: #000;
  cursor: pointer;
  text-decoration: none;
}
.mobile-menu-clicked .close {
  position: fixed;
  top: 5px; right: 10px;
  font-size: 30px;
  cursor: pointer;
}
.mobile-menu-clicked a:hover,
.mobile-menu-clicked .close:hover {
  color: #467846;
}


/*
  body, nav
  max-width: 1200 px
  min-width: 360 px
*/
@media (max-width: 1200px) {
  body {
    max-width: 1200px;
    margin: 0 auto;
  }
}

@media (max-width: 1025px) {
  .nav-title {
    font-size: 3em;
    margin-bottom: 70px;
  }
  .nav-information {
    font-size: 0.5em;
    margin-bottom: 50px;
  }
  .nav-detail .invitation-btn {
    margin-top: 70px;
  }
  .nav-detail .invitation-btn a,
  .nav-detail .invitation-btn a:visited {
    font-size: 1em;
  }
}

@media (max-width: 1000px) {
  .fixed-menu {
    display: none;
  }
}

@media (max-width: 900px) {
  nav {
    background-position: right; 
  }
  .menu div {
    font-size: 0.8em;
    padding-right: 5px;
  }
}

@media (max-width: 750px) {
  .menu div {
    letter-spacing: -1px;
  }
}

@media (max-width: 720px) {
  .menu div {
    font-size: 0.7em;
    padding-right: 0px;
  }
}

@media(max-width: 630px) {
  .menu {
    display: none;
  }
  .mobile-menu {
    display: block;
  }
}

@media(max-width: 500px) {
  nav {
    background-position: 90%; 
  }
}

@media (max-width: 465px) {
  nav {
    background-position: 87%; 
  }
}

@media (max-width: 400px) {
  nav {
    background-position: 85%; 
  }
  .nav-title {
    font-size: 2.5em;
  }
  .nav-information {
    letter-spacing: 2px;
  }
}